
{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'design.css' %}">
        <meta name="Bike management system">
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'> <!--Damit das reinzoomen bei Smartphones verhindert wird (strg-v aus dem Internet)-->
        <link rel="shortcut icon" href="{% static 'favicon.png' %}">
        {% block head %}
        <title> BMS </title>
        {% endblock %}
    </head>

    <body>
        <div class="container">
            <div class="header-container">
                <button id="sidebar-button" onclick="document.getElementsByClassName('left')[0].classList.toggle('collapsed')">
                    <div id="button-image"></div>
                </button>
                    
                <div id="header-block">
                    {% block title %}
                    {% endblock %}
                </div>

                <!--Display the username when logged in-->
                {% if user.is_authenticated %}
                <p class="header-login">
                    Logged in as {{user}}
                </p>
                {% else %}
                <p class="header-login">
                    Not logged in
                </p>
                {% endif %}

                <!--if user is logged in, display the logout link-->
                {% if user.is_authenticated %}
                    <a class="header-login" id="login-button" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="header-login" id="login-button" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
            

            <div class="content-container">
                <div class="left" id="left">
                    <!--Before each link is displayed, it is checked whether the user has the required permissions to access the site. 
                        This doesn't replace the authorization check at each site, it just makes the navigation clearer-->
                    {% if user.is_authenticated %}
                        <a class="page-links" href="{% url 'profile' %}">Profile</a>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <a class="page-links" href="{% url 'register' %}">Register</a>
                    {% endif %}
                    {% if perms.application.add_bike %}
                        <a class="page-links" href="{% url 'createBike' %}">Create Bike</a>
                    {% endif %}
                    {% if perms.application.view_bike %}
                        <a class="page-links" href="{% url 'bikeList' %}">Bike List</a>
                    {% endif %}
                    {% if perms.application.view_bike %}
                        <a class="page-links" href="{% url 'user-view' %}">User List</a>
                    {% endif %}

                    
                    

                </div>

                <section id="content">
                    {% block content %}    
                    {% endblock %}            
                </section>                
            </div>            
        </div>
    </body>
</html>