{% extends "base.html" %}

{% block title %}
<h1>All bikes</h1>
{% endblock %}


{% block content %}

<h2>All Bikes</h2>
{% for bike in Bikes %}
<p>
    Number: {{ bike.number }} <br>
    Steward: {{ bike.steward }} <br>
    Size: {{ bike.size }} <br>
    <!-- Similar to userList, if the user can borrow a bike, display the link-->
    {% if perms.application.add_borrowing %}
    <a href="{% url 'borrow' bike.id %}">Borrow this bike</a>
    {% endif %}
</p>
{% endfor %}

<h2>All Borrowings</h2>
{% for borrowing in Borrowings %}
    <p>
        {{ borrowing }}
        

        {% if borrow.issue is not None %}
            <br>
            <b>There's an issue with this borrowing!</b>
            <br>
            {{ borrow.issue }}
        {% endif %}
    </p>
{% endfor %}

{% endblock %}
